{{!< default}}
<section class="outer error-content">
    <div class="inner">
        <section class="error-message">
            <h1 class="error-code">{{statusCode}}</h1>
            <p class="error-description">{{message}}</p>
            <a class="error-link" href="{{@site.url}}">Go to the front page →</a>
        </section>
    </div>
</section>
<aside class="read-more-wrap outer">
    <div class="read-more inner">
        {{#get "posts" include="authors" limit="3" as |more_posts|}}
            {{#if more_posts}}
                {{#foreach more_posts}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/if}}
        {{/get}}
    </div>
</aside>