$main-font: Vazir, sans-serif;
$accent-color: #20c5ba;

/* RTL */

html,
body {
    direction: rtl;
}

/* custom styles */

img {
    opacity: 1 !important;
}

a {
    transition: all 150ms linear;
}

.site-header-content {
    .site-logo {
        max-height: 100px;
    }

    .site-description {
        margin-top: 20px;
    }
}

.post-card-large {
    .post-card-content-link {
        padding: 0 40px 0 0;
    }
}

.post-card {
    .post-card-image {
        border-radius: 10px;
    }

    .post-card-title {
        direction: rtl;
        font-size: 3rem;
        font-family: $main-font;
        color: white;
    }

    .post-card-excerpt {
        direction: rtl;
        text-align: justify;
        font-family: $main-font;

        p {
            font-size: 1.5rem;
        }
    }

    .post-card-meta {
        padding: 0 40px 0 0;
    }

    .post-card-byline-content {
        margin: 2px 6px 0 0;

        span {
            a {
                font-family: $main-font;
            }
        }

        .post-card-byline-date {
            direction: ltr;
            text-align: right;
        }
    }
}

.post {
    .post-full-header {
        .post-full-title {
            direction: rtl;
            text-align: right;
            font-family: $main-font;
            color: white;
        }

        .post-card-title {
            direction: rtl;
            font-family: $main-font;
        }

        .post-full-byline {
            margin: 20px 0 0;

            .author-info {
                padding: 0 20px 0 0;

                h2,
                p {
                    font-family: $main-font;
                }
            }
        }

        .tag-list {
            margin-top: 15px;

            a {
                background: #2d3951;
                padding: 3px 6px 0px 6px;
                border-radius: 5px;
                color: white;
                font-family: $main-font;
                font-size: 14px;
                text-decoration: none;
                transition: all 250ms;
                margin-left: 5px;

                &:hover {
                    text-decoration: none;
                    color: #20c5ba;
                }
            }
        }
    }

    .post-card-image {
        opacity: 0.9 !important;
        transition: opacity 200ms linear;

        &:hover {
            opacity: 1 !important;
        }
    }

    .post-full-custom-excerpt {
        direction: rtl;
        text-align: justify;
        font-family: $main-font;
        font-size: 2rem;
    }

    .author-name {
        font-family: $main-font;
    }

    .post-content {
        p {
            color: white;
            direction: rtl;
            text-align: justify;
            text-align-last: right;
            font-family: $main-font;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 0.41px;

            a {
                text-decoration: none !important;
                transition: color 250ms;

                &:hover {
                    color: $accent-color;
                }
            }

            strong {
                font-weight: 500;
                color: #91deda;
            }

            code {
                word-break: break-word;
            }
        }

        ul,
        ol {
            font-family: $main-font;

            li {
                font-size: 16px;

                &::marker {
                    color: $accent-color;
                }
            }
        }

        pre {
            direction: ltr !important;
            border-radius: 10px;
            background: #292d3e;
            border: none;
        }

        h2,
        h3,
        h4 {
            font-family: $main-font;
            color: $accent-color;
        }

        figure {
            img {
                border-radius: 10px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .kg-bookmark-container {
                direction: ltr;
                border-radius: 10px;

                .kg-bookmark-title,
                .kg-bookmark-description {
                    direction: rtl;
                    font-family: $main-font;
                }
            }
        }

        blockquote {
            font-family: $main-font;
            font-size: 16px;
            color: #92a3ab;
            border-right: 3px solid $accent-color;
            border-left: 3px solid $accent-color;
        }

        img {
            max-width: 100%;
            border-radius: 10px;
        }

        video {
            max-width: 100%;
        }
    }

    .byline-meta-content {
        direction: ltr;
        text-align: right;
    }
}

.copyright {
    a {
        font-family: $main-font;
    }
}

.author-header-content {
    margin: 5px 30px 0 0;

    .author-meta {
        letter-spacing: 0;
        text-transform: none;
        margin-top: 10px;
    }
}

.author-social-link {
    font-family: $main-font;

    a {
        font-weight: 300;
        text-decoration: none !important;
    }
}

.nav {
    li {
        a {
            font-family: $main-font;
        }
    }
}

.site-nav {
    .site-nav-left {
        margin-right: 25px;

        .site-nav-logo {
            margin-right: 0;
            margin-left: 32px;
        }

        .nav-post-title {
            direction: rtl;
            font-family: $main-font;
        }

        .nav {
            li {
                &:last-of-type {
                    padding-right: 0 !important;
                }
            }
        }
    }
}

.read-next-card {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    .read-next-card-header {
        h3 {
            font-family: $main-font;
        }
    }

    .read-next-card-content {
        h4 {
            font-family: $main-font;
        }

        .read-next-card-meta {
            direction: ltr;
        }
    }

    .read-next-card-footer {
        a {
            font-family: $main-font;

            &:hover {
                border-color: $accent-color;
                color: $accent-color;
            }
        }
    }
}

.site-footer {
    direction: ltr;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .site-footer-nav {
        a {
            &:before {
                top: 14px;
            }
        }
    }
}

.tag-template {
    .site-title {
        text-align: center;
        font-family: $main-font;
    }

    .site-description {
        text-align: center;
        font-family: $main-font;
    }
}

.author-location,
.author-stats,
.site-title {
    font-family: $main-font;
}

.error-link {
    direction: ltr;
    font-family: $main-font;
}
