name: Test

on:
    push:
        branches: [master]
        paths-ignore:
            - ".github/workflows/formatter.yml"

jobs:
    build:
        name: Test
        runs-on: ubuntu-latest

        steps:
            - name: Checkout project
              uses: actions/checkout@v3

            - name: Install NodeJS
              uses: actions/setup-node@v3
              with:
                  node-version: 12

            - name: Install dependencies
              run: yarn install

            - name: Pre-Test
              run: yarn pretest

            - name: Test
              run: yarn test:ci
